.article
  section.article__summary
    a.article__summary-category.humble.humble--link(href="#!") ⭐ Featured
    a.humble.humble--link(href="#!")
      img.humble__img(src="https://dummyimage.com/24x24/d8dbde/aaa")
      | Konstantin Konstanovich
    time.article__summary-time.humble Oct 31, 11:25AM (updated)

  h1.article__title Women of Crypto at the Crypto Invest Summit: Separate but Hopeful
    .title-mark 🔥 Hot

  section.article__summary-device
    a.humble.humble--link(href="#!") ⭐ Featured
    time.humble Oct 31, 11:25AM (updated)

  .article__mark Crypto events are beginning to invite more women speakers, but tend to feature them in separate Women in Crypto panels

  section.article__info
    .humble.humble--views 123.5k
      .humble__inner-text.hide-sm-down views
    a.humble.humble--comments(href="#!") 256
      .humble__inner-text.hide-sm-down comments
    button.article__summary-bookmarks.humble.humble--bookmark Add to bookmarks

  .article__main-img-wrapper
    img.article__main-img(src="https://u.today/sites/default/files/styles/880/public/2018-11/Colorado%20watchdog%20gets%20rid%20of%20fraud%20ICOs.jpg?itok=k4gorROz")

  section.article__content
    .article__contents
      .article__contents-title Contents

      ul.article__contents-list
        each content in articleContents
          li.article__contents-item
            a.article__contents-link.link-pseudo(href="#!")= content

    .something.something--content
      .something__content-long
        img(src="img/something/long.png" width="728" height="90" alt="something-wide")

      .something__content-square
        img(src="img/something/square.png" width="300" height="250" alt="something-square")

    | Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women.

    p!= articleTexts[0]

    h2 Women of Crypto as opening act

    p!= articleTexts[1]

    p!= articleTexts[2]

    h2 Ladies only

    p!= articleTexts[3]

    blockquote
      p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women <a class="link-text" href="#!">made up roughly 20 percent</a> of the speakers.

      img(src="https://dummyimage.com/64x64/d8dbde/aaa")
      strong Bob Stewarts
      em CEO of uToday

    p!= articleTexts[0]

    blockquote
      p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women <a class="link-text" href="#!">made up roughly 20 percent</a> of the speakers.

      strong Bob Stewarts
      em CEO of uToday

    p!= articleTexts[1]

    blockquote
      p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women <a class="link-text" href="#!">made up roughly 20 percent</a> of the speakers.

      strong Bob Stewarts

    p!= articleTexts[2]

    blockquote
      p Speaking of the aisle, another statistic of interest: all 17 panelists in the Women of Crypto track were female, while on the Main Stage over the next two days women <a class="link-text" href="#!">made up roughly 20 percent</a> of the speakers.

    p!= articleTexts[5]

    ul
      each li in articleList
        li= li

    h2 Scaling community and activism

    p!= articleTexts[2]

    include article-related.pug

    p!= articleTexts[3]

    h2 Reclaiming sovereignty

    p!= articleTexts[1]

    .something.something--content
      .something__content-long
        img(src="img/something/long.png" width="728" height="90" alt="something-wide")

      .something__content-square
        img(src="img/something/square.png" width="300" height="250" alt="something-square")

    p!= articleTexts[2]

    figure
      img.img(src="https://dummyimage.com/1000x400/d8dbde/aaa")
      figcaption This is a caption under a picture inside article text

    h2 Reclaiming sovereignty

    p!= articleTexts[1]

    include article-subscribe.pug

    p!= articleTexts[3]

    include article-fact.pug

    p!= articleTexts[1]

    h4
      strong almost 300 000
      p iPhones XS and XS Max was sold in Russia in the first ten days

    h2 Adding value despite challenges

    p!= articleTexts[0]

    ol
      li Change the terms and conditions of the ToU
      li
        | Change all or any portion of the U.Today Sites, including eliminating or discontinuing any content or feature

        ol
          li Change the terms and conditions of the ToU
          li
            | Change all or any portion of the U.Today Sites, including eliminating or discontinuing any content or feature

      li or Change other conditions for use of the U.Today Sites.

    p!= articleTexts[0]

    ul
      li Change the terms and conditions of the ToU
      li
        | Change all or any portion of the U.Today Sites, including eliminating or discontinuing any content or feature

        ul
          li Change the terms and conditions of the ToU
          li
            | Change all or any portion of the U.Today Sites, including eliminating or discontinuing any content or feature

      li or Change other conditions for use of the U.Today Sites.

    table
      tbody
        tr
          td Subunit
          td Symbol
          td Value (of 1 BTC)
        tr
          td 'millibit'
          td mBTC
          td 1/1000
        tr
          td ‘bit’
          td μBTC
          td 1⁄1000000
        tr
          td ‘satoshi’
          td satoshi
          td 1⁄100000000

    p!= articleTexts[2]

    p
      strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, ducimus?

    p
      em Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, ducimus?

  section.article__tags.btns-spacer
    a.btn.btn--hash-tag(href="#!") #MaltaBlockchainSummit
    a.btn.btn--hash-tag(href="#!") #Bitcoin
    a.btn.btn--hash-tag(href="#!") #Processor

  section.article__panel
    .rating.rating--positive
      button.btn.btn--light.btn--rating-down
      .rating__value 28
      button.btn.btn--light.btn--rating-up

    .article__panel-separator

    .article__panel-row
      .article__panel-col
        a.humble.humble--link(href="#!") ⭐ Featured
        time.humble Oct 31, 11:25AM (updated)

      .article__panel-col
        .humble.humble--views 123.5k
          .humble__inner-text.hide-xl-down views
        a.humble.humble--comments(href="#!") 256
          .humble__inner-text.hide-xl-down comments
        button.humble.humble--bookmark.humble--single-icon

.something.something--content
  .something__content-long
    img(src="img/something/long.png" width="728" height="90" alt="something-wide")

  .something__content-square
    img(src="img/something/square.png" width="300" height="250" alt="something-square")

include article-recommended.pug

include comments.pug

